.flex{
    display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
}
.flex:last-child{
    margin-bottom: 5%;
}
.orange{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83px;
    height: 43px;
    background-color: #E8833A;
    margin-top: 12%;
    margin-left: 4%;
}
.data h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #293845;
}